# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore environment variable files
.env

# Ignore build directories and files
/build
/dist

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore coverage reports
coverage/
